@tailwind base;
@tailwind components;
@tailwind utilities;

.font-quest {
    font-family: "Major Mono Display", monospace;
    font-weight: 200;
    font-style: normal;
  }

.font-quest-italic {
  font-family: "Major Mono Display", monospace;
  font-weight: 200;
  font-style: italic;
}

