@tailwind base;
@tailwind components;
@tailwind utilities;

.font-quest {
    font-family: "Major Mono Display", monospace;
    font-weight: 200;
    font-style: normal;
  }

.font-quest-italic {
  font-family: "Major Mono Display", monospace;
  font-weight: 200;
  font-style: italic;
}

.menu-bar {
  transition: stroke 0.3s ease-in-out;
}
.menu-button:hover .menu-bar {
  stroke: #fcf4c7;
}